

<section class="container-login100">
    <div class="container">



        

        
        <div class="wrap-login100">
            <span class="login100-form-logo">
                <img src="assets/img/logo.png" alt="">
            </span>
            <span class="login100-form-title p-b-34 p-t-27">
               
            </span>
            <div class="m-b-50"></div>
            <div class="alert alert-warning" *ngIf="isInvalidCredential">
                <strong>Warning!</strong> Invalid Credential.
            </div>
            <div class="wrap-input100 " data-validate="Enter username">
                <input class="input100" type="text" [(ngModel)]="userName" name="username" placeholder="Enter username" >
                <span class="focus-input100 " data-placeholder="&#xf007;"> </span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input class="input100" type="password" [(ngModel)]="password" name="pass" placeholder="Password" ormControlName="password">
                <span class="focus-input100" data-placeholder="&#xf084;"> </span>
            </div>
            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                <label class="label-checkbox100" for="ckb1">Remember me</label>
            </div>
            <div class="container-login100-form-btn">
                <input type="button" class="login100-form-btn" (click)="login()"  value="Log in"> 
            </div>
        </div>
    </div>
</section>


